/*Credits:
Author:Mateusz Skulski,
PSD Layout:?,
*/
body{
  font-family: 'Roboto', sans-serif;
  color:white;
  
}
.main-bg {
  background-image: url("img/main-bg.png");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center center;
  height:850px;
}

.navbar-default .navbar-nav > li > a{
    color:#FFF;
    font-size: 1.2em;
    list-style-type: none;
    margin: 40px 40px 0 0;
    overflow: hidden;
}

.navbar-default .navbar-nav > li > a:hover{
    color:#ffffcc;
}

li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffcc;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  
}
li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.person-img {
  margin:0 0 0 50px;
}
.footer-shape {
  background-image: url("img/bottom-shape.png");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center center;
  height:200px;
  margin:-70px 0 -20px -50px;
}
.footer-bg {
  background-image: url("img/bottom-bg.png");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center center;
  height:700px;
}
.footer-box {
  background-color: #0d1119;
  padding:50px;
}
.footer-text {
  color:#728593;
}
.social-flex {
  display: flex;
  justify-content: left;
}
.social-flex > img {
  margin:10px 5px 0 0;
}
.form-inline {
  margin:20px;
}
#exampleInputEmail2 {
  width:250px;
}
.big-bg {
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center center;
  height:400px;
}

.big-bg-2 {
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center center;
  height:400px;
}

.small-bg {
  background-image: url("img/main-bg.png");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center center;
  height:400px;
}

.big-text-box-2 {
  height:400px;
  background-color: #FFF;
  padding:60px;
  color:white;
}

.big-text-box {
  height:400px;
  background-color: #FFF;
  padding:60px;
}
.inside-text {
  opacity: 0;
}
.inside-text-2 {
  opacity: 0;
}
.inside-text-3 {
  opacity: 0;
}
.inside-text > h4 {
  margin-bottom: -15px;
  color:#fd634e;
  font-size: 1.2em;
}
.inside-text > h2 {
  color:#a2ca28;
}
.inside-text > p {
  color:#c0c3c5;
}
.small-text-box {
  height:400px;
  background-color: #FFF;
  padding:60px;
}
.inside-text > h4 {
  margin-bottom: -15px;
  color:#fd634e;
  font-size: 1.2em;
}
.inside-text > h2 {
  color:#a2ca28;
}
.inside-text > p {
  color:#c0c3c5;
}
.small-text-box-2 {
  height:400px;
  background-color: #FFF;
  padding:60px;
  color:white;
}

.inside-text-2 > h4 {
  margin-bottom: -15px;
  font-size: 1.2em;
}
.inside-text-2 > h2 {
  color:white;
}

.bg-img-1 {
  background-image: url("img/about-1.png");
  opacity: 0;
}
.bg-img-2 {
  background-image: url("img/about-2.png");
  opacity: 0;
}
.bg-img-3 {
  background-image: url("img/about-sm-3.png");
  opacity: 0;
}
.bg-img-4 {
  background-image: url("img/about-3-v2.png");
  opacity: 0;
}
.bg-img-5 {
  background-image: url("img/about-4.png");
  opacity: 0;
}
.bg-img-6 {
  background-image: url("img/about-sm-4.png");
  opacity: 0;
}
 .fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInUp {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInUp {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  opacity: 1;
  }
  @-webkit-keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  } 
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  opacity: 1;
  }
  @-webkit-keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  } 
.green-bg {
  background: #a2ca28;
}
.red-bg {
  background: #fd634e;
}
.middle > h3 {
  color:white;
}
.middle > p {
  color:white;
}
.inside-text-3 > h1 {
  font-size: 3em;
  color:white;
  text-align: center;
}
.inside-text-3 > p {
  color:white;
  text-align: center;
}
.how-works {
  height: 400px;
}
a {
  color:white;
  text-decoration: none;
}
.main-slogan {
  margin:500px 0 0 100px;
}
.main-slogan >  p:first-child {
  font-size: 2.7em;
  color:white;
  letter-spacing: 2px;
}
.main-slogan >  p:last-child {
  font-size: 1.3em;
  color:white;
  letter-spacing: 2px;
  margin:-15px 0 0 175px;
}
.middle{
  margin-top:55px;
  height:225px;
}
.middle-footer {
  padding:275px;
}
.navbar{
  background-color: transparent;
  border: none; 
}
.green-logo-box {
  width: 35px;
  height: 4px;
  background-color: #00ff00;
  margin:60px 0 0 80px;
  border-radius: 50px;
}
.logo-menu{
    float:left;
    margin:30px 0 0px 40px;
}

.navbar-default .navbar-brand > p {
  float:left;
  letter-spacing: 1px;
  font-size: 1.3em;
  color:white;
  margin:30px 0 0px 5px
}

@media only screen and (max-width: 445px) {
    .navbar-default .navbar-nav > li > a{
        margin: 10px 0 0 0;
    }
    .main-slogan >  p:first-child {
      font-size: 1.5em;
      color:white;
      letter-spacing: 2px;
    }
    .main-slogan >  p:last-child {
      font-size: 1.3em;
      color:white;
      letter-spacing: 2px;
      margin:0px 0 0 0px;
    }
    .main-slogan {
      margin:275px 0 0 30px;
    }
    .main-bg {
    height:500px;
    }
    .green-logo-box {
      margin:30px 0 0 60px;
    }
    .logo-menu {
      margin:0px 0 0px 20px;
    }
    .navbar-default .navbar-brand > p {
      margin:0 0 0 0px;
    }
    .big-bg {
      background-size: 100% 100%;
      height:325px;  
    }
    .big-bg-2 {
      background-size: 100% 100%;
      height:325px;  
    }
    .small-bg {
      background-size: 100% 100%;
      height:325px;  
    }
    .footer-bg {
      background-size: cover;
      height:400px; 
    }
    .footer-shape {
      height:140px;
    }
    .inside-text-3 > h1 {
      font-size: 1.65em;
    }
    .inside-text-3 > p {
      font-size: 0.85em;
    }
    .middle-footer {
      padding:75px;
    }
    #exampleInputName2 {
    width:200px;
    }
    #exampleInputEmail2 {
    width:200px;
    }
    .big-text-box {
      height:400px;
    }
}
@media (min-width: 446px) and (max-width: 768px) {
    .navbar-default .navbar-nav > li > a{
        margin: 10px 0 0 0;
    }
    .main-slogan >  p:first-child {
      font-size: 1.5em;
      color:white;
      letter-spacing: 2px;
    }
    .main-slogan >  p:last-child {
      font-size: 1.3em;
      color:white;
      letter-spacing: 2px;
      margin:0px 0 0 0px;
    }
    .main-slogan {
      margin:275px 0 0 30px;
    }
    .main-bg {
    height:500px;
    }
    .green-logo-box {
      margin:30px 0 0 60px;
    }
    .logo-menu {
      margin:0px 0 0px 20px;
    }
    .navbar-default .navbar-brand > p {
      margin:0 0 0 0px;
    }
    .big-bg {
      background-size: 100% 100%;
      height:325px;  
    }
    .big-bg-2 {
      background-size: 100% 100%;
      height:325px;  
    }
    .small-bg {
      background-size: 100% 100%;
      height:325px;  
    }
    .footer-bg {
      background-size: cover;
      height:400px; 
    }
    .footer-shape {
      height:140px;
    }
    .inside-text-3 > h1 {
      font-size: 1.65em;
    }
    .inside-text-3 > p {
      font-size: 0.85em;
    }
    .middle-footer {
      padding:75px;
    }
    #exampleInputName2 {
    width:300px;
    }
    #exampleInputEmail2 {
    width:300px;
    }
    .big-text-box {
      height:400px;
    }
  }
@media (min-width: 769px) and (max-width: 992px) {
  .navbar-default .navbar-nav > li > a{
        margin: 10px 0 0 0;
    }
    .green-logo-box {
      margin:30px 0 0 60px;
    }
    .logo-menu {
      margin:0px 0 0px 20px;
    }
    .navbar-default .navbar-brand > p {
      margin:0 0 0 0px;
    }
    .footer-shape {
      height:140px;
    }
    .inside-text-3 > h1 {
      font-size: 3.00em;
    }
    .inside-text-3 > p {
      font-size: 1.2em;
    }
    .middle-footer {
      padding:250px 75px 0 75px;
    }
    #exampleInputName2 {
    width:200px;
    
    }
    #exampleInputEmail2 {
    width:200px;
    
    }
    .big-text-box {
      height:400px;
    }
}


